:root {
    --primary-color: #fff;
}

.btn{
    padding: 8px 30px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary-color);
    color: #242424;
    border: 1px solid var(--primary-color);
}

.btn--outline{
    background-color: transparent;
    color: white;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 24px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 27px;
    font-size: 24px;
}

.btn--medium:hover, .btn--large:hover{
    background-color: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

.navbar .button {
    display: inline-block;
    background-color: #f39c12;
    color: #fff;
    padding: 14px 28px; /* Increased padding for larger button */
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 1.2rem; /* Larger font size */
    font-weight: bold; /* Optional: makes the text more prominent */
  }
  
  .navbar .button:hover {
    background-color: #e67e22;
  }