/* Navbar container */
.navbar {
    background-color: #fff;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-container {
    box-shadow: 0 0 10px rgba(219, 123, 6, 0.813);
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-img {
    height: 40px;
    width: auto;
  }
  
  /* Navbar links */
  .navbar-links {
    display: flex;
    align-items: center;
  }