/* Navbar container */
.navbar {
    background-color: #fff;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-container {
    box-shadow: 0 0 10px rgba(219, 123, 6, 0.813);
    width: 100%;
    height: 80px;
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo-img {
    height: 40px;
    width: auto;
  }
  
  /* Navbar links */
  .navbar-links {
    display: flex;
    align-items: center;
  }

  /* Navbar Links */
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 70px;
}

.nav-links {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #f39c12;
}

/* Mobile Navbar Menu */
.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links-mobile {
  display: none;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #1d1d1d;
    z-index: 1000;
    padding: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0e0e0e;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease;
  }

  .nav-links:hover {
    background-color: #f39c12;
    color: #242424;
    border-radius: 5px;
  }

  .menu-icon {
    display: block;
    color: #f39c12;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 33px;
    right: 20px;
    z-index: 1100;
    transition: transform 0.3s ease;
  }

  .menu-icon.active {
    transform: rotate(180deg);
  }

  .nav-links-mobile {
    display: block;
    width: 80%;
    margin: 15px auto;
    text-align: center;
    padding: 12px 18px;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background-color: #f39c12;
    color: black;
    border: 1px solid #f39c12;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }

  .hamburger.active {
    transform: rotate(180deg);
  }

  .nav-menu.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .button {
    display: none;
  }
}